@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', 'Arial', sans-serif;
}

header, nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #212121;
  color: #fef1fe;
}

header, nav, main{
  margin-left: 10vw;
  margin-right: 10vw;
}

header{
  margin-top: 5vh;
  padding: 4vh 1vh 5vh;
}

nav { padding: 0vh 2vh 2vh; }

main {
  background-color: #151515;
  color: #fff2ff;
  margin-bottom: 5vh;
  padding: 1vh 2vh 4vh;
}

h1{ font-size: 5vw; }

h3 { font-size: 4vw; }

a, h2 {
  font-size: 4vw;
  text-decoration: none;
  color: #fef1fe;
}

.profile-photo {
  width: 13vw;
  height: 7vh;
  border-radius: 50%;
}

.status-preview {
  width: 13vw;
  height: 7vh;
  border: 2px black solid;
  border-radius: 50%;
}

.talk, .status, .call {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  margin-top: 1.5vh;
  margin-bottom: 1.5vh;
}

.in-column {
  display: grid;
  grid-template-rows: 1fr 1fr;
  align-items: center;
}

.icon {
  width: 2vw;
  height: 1.5vh;
}

.viewed-icon { width: 3vw; }

.search-icon {
  width: 4.5vw;
  height: 3vh;
}

.last-message-hour, .last-status-hour, .call-date {
  margin-top: 1vh;
  font-size: 3.6vw;
  justify-self: end;
}

.last-message-hour { align-self: end; }

.last-message, .last-status-hour, .call-date {
  align-self: start;
  font-size: 3.6vw;
}

.contact-name, h3 { align-self: end; }