@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', 'Arial', sans-serif;
}

body {
  max-width: 90vw;
  max-height: 80vh;
  min-width: 60vw;
  min-height: 80vh;
  margin: 2vh 2vh;
  padding: 4vh 1.5vh 2vh;
}

header, nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: rgb(35, 45, 54);
  color: #fef1fe;
}

header{ padding: 4vh 2vh 5vh; }

nav { padding: 0vh 3vh 2vh; }

main {
  background-color: rgb(16, 29, 37);
  padding: 1vh 3vh 4vh;
  height: 55vh;
  overflow: auto;
}

h1{
  font-size: 5vw;
  font-weight: normal;
  color: rgb(159, 163, 166);
}

h3 {
  font-size: 4vw;
  color: rgb(173, 181, 184);
  font-weight: normal;
}

a, h2 {
  font-size: 3.5vw;
  text-decoration: none;
  color: rgb(0, 170, 154);
  /*border-bottom: 1vh rgb(0, 176, 156) solid;*/
}

hr {
  /*background-color: rgba(44, 54, 63, 0.25);*/
  border: 0;
  border-bottom: 1px solid rgb(44, 54, 63);
  margin-left: 25%;
  max-width: 75%;
}

.profile-photo {
  width: 13vw;
  height: 7vh;
  border-radius: 50%;
}

.status-preview {
  width: 13vw;
  height: 7vh;
  border: 2px black solid;
  border-radius: 50%;
}

.talk, .status, .call {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  margin-top: 1.5vh;
  margin-bottom: 1.5vh;
}

.in-column {
  display: grid;
  grid-template-rows: 1fr 1fr;
  align-items: center;
}

.icon {
  width: 2vw;
  height: 1.5vh;
}

.viewed-icon {
  width: 3vw;
  border-radius: 45%;
}

.search-icon {
  width: 4.2vw;
  height: 2.6vh;
  color: rgb(158, 161, 166);
  align-self: flex-end;
}

.last-message-hour, .last-status-hour, .call-date {
  margin-top: 1vh;
  font-size: 3.4vw;
  color: rgb(140, 149, 156);
}

.last-message-hour {
  align-self: end;
  justify-self: end;
}

.last-message, .last-status-hour, .call-date {
  align-self: start;
  font-size: 3.4vw;
  color: rgb(149, 157, 160);
}

.contact-name, h3 {
  align-self: end;
  color: rgb(210, 215, 219);
}