@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', 'Arial', sans-serif;
}

header, nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 2vh;
}

header, nav, main{
  margin-left: 10vw;
  margin-right: 10vw;
}

header{ margin-top: 5vh; }

nav { margin-top: 5vh; }

h1{ font-size: 7vw; }

h2 { font-size: 5vw; }

a {
  text-decoration: none;
  color: black;
}

.profile-photo {
  width: 15vw;
  height: 9vh;
  border-radius: 50%;
}

.status-preview {
  width: 13vw;
  height: 7vh;
  border: 2px black solid;
  border-radius: 50%;
}

.talk, .status, .call {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
}

.talk, .status { margin-bottom: 4vh; }

.in-column {
  display: grid;
  grid-template-rows: 1fr 1fr;
  align-items: center;
}

.icon {
  width: 2.5vw;
  height: 2vh;
}

.viewed-icon { width: 3vw; }

.search-icon {
  width: 4.5vw;
  height: 3vh;
}

.last-message-hour, .last-status-hour, .call-date {
  margin-top: 1vh;
}

.last-message-hour {
  align-self: end;
}

.last-message, .last-status-hour, .call-date {
  align-self: start;
}

.contact-name, h3 {
  align-self: end;
}